# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (if ever used)
Pods/
Carthage/Build/

# Claude
CLAUDE.md

# Product docs (local only)
PRD.md
